<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cnnic.android.whois"
    android:versionCode="1"
    android:versionName="1.0" >
 <!-- 加入在SDCard中创建与删除文件的权限 -->
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
<!-- 加入在SDCard中写入数据的权限 -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        >
        <uses-library android:name="android.test.runner"/>
        
        <activity 
            android:name=".IndexActivity" 
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_launcher"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".TldManagerActivity" 
            android:configChanges="orientation" 
            android:theme="@style/title_style"
            >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".MarkManagerActivity" 
            android:configChanges="orientation" 
            android:theme="@style/title_style"
            >
        </activity>
            
        <activity
            android:label="@string/app_name"
            android:name=".WhoisActivity" 
            android:configChanges="orientation" 
            android:theme="@style/title_style"
            >
        </activity>
        
        <activity
            android:label="@string/app_name"
            android:name=".DisplayWhoisResultActivity" 
            android:configChanges="orientation" 
            android:theme="@style/title_style"
            >
        </activity>
    
            
    </application>
<instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="cn.cnnic.android.whois" android:label="Tests for db App"></instrumentation>
<uses-permission android:name="android.permission.INTERNET" />

</manifest>